body {
  background-color: #151726;
}

 .center {
   text-align: center;
   margin: auto;
 }

 #img-mini {
   height: auto;
   width: 33%;
   float: left;
 }

div div h2 {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: white;
}
